.App {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 10px;
}

.listingCard {
    display: flex;
    flex-direction: column;
    border: solid 2px lightgray;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
}

.listingCard img {
    align-items: center;
}

#allCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

img{
    width: 200px;
    margin: 3px;
    height: auto;
}

#car {
    color: blue;
    font-size: x-large;
    font-weight: bolder;
}

#photo {
    display: flex;
    justify-content: center;
}

#price {
    color: crimson;
    font-weight: bold;
}

#saving {
    color: white;
    padding: 3px;
    background-color: lime;
    border: 1px solid lime;
    border-radius: 3px;
}

#rrp {
    color: darkgrey;
    text-decoration: line-through;
    font-weight: bold;
}